.login-container{
    padding: 20px;
    border-radius: 10px;
    background: #f9f9f9;
}
.login-container h1{
    font-size: 18px;
    font-weight: 600;
    color: #222;
    text-align: center;
}
.login-container p{
    font-size: 16px;
    font-weight: 500;
    color: #383838;
    text-align: center;
    margin: 0;
}
.login-container p a{
    font-size: 16px;
    font-weight: 500;
    color:#0da487;
    text-decoration: underline !important;
    text-align: center;
    cursor: pointer;
}