/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  font-family: Public Sans, sans-serif !important;
  letter-spacing: 0.6px;
}
.p-abs {
  position: absolute;
}
.t-0 {
  top: 0;
}
.t-1 {
  top: 1px;
}
.t-2 {
  top: 2px;
}
.t-3 {
  top: 3px;
}
.t-4 {
  top: 4px;
}
.t-5 {
  top: 5px;
}
.t-6 {
  top: 6px;
}
.t-7 {
  top: 7px;
}
.t-8 {
  top: 8px;
}
.t-9 {
  top: 9px;
}
.t-10 {
  top: 10px;
}
.t-11 {
  top: 11px;
}
.t-12 {
  top: 12px;
}

.l-1 {
  left: 1px;
}
.l-2 {
  left: 2px;
}
.l-3 {
  left: 3px;
}
.l-4 {
  left: 4px;
}
.l-5 {
  left: 5px;
}
.l-6 {
  left: 6px;
}
.l-7 {
  left: 7px;
}
.l-8 {
  left: 8px;
}
.l-9 {
  left: 9px;
}
.l-10 {
  left: 10px;
}
.l-a {
  left: auto;
}
.r-0 {
  right: 0;
}
.r-1 {
  right: 1px;
}
.r-2 {
  right: 2px;
}
.r-3 {
  right: 3px;
}
.r-4 {
  right: 4px;
}
.r-5 {
  right: 5px;
}
.r-6 {
  right: 6px;
}
.r-7 {
  right: 7px;
}
.r-8 {
  right: 8px;
}
.r-9 {
  right: 9px;
}
.r-10 {
  right: 10px;
}

.b-1 {
  bottom: 1px;
}
.b-2 {
  bottom: 2px;
}
.b-3 {
  bottom: 3px;
}
.b-4 {
  bottom: 4px;
}
.b-5 {
  bottom: 5px;
}
.b-6 {
  bottom: 6px;
}
.b-7 {
  bottom: 7px;
}
.b-8 {
  bottom: 8px;
}
.b-9 {
  bottom: 9px;
}
.b-10 {
  bottom: 10px;
}

.color-d4d4d4 {
  color: #d4d4d4;
}

.lh-0 {
  line-height: 0 !important;
}
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
.fw-400 {
  font-weight: 400 !important;
}
.dashed-border {
  border: 1px dashed #000;
}
.fs-16 {
  font-size: 16px !important;
}
.td-none {
  text-decoration: none;
}
.l-c {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin: 0;
  gap: 10px;
}
.l-c > li {
  list-style: none;
}
.custom-text {
  font-size: 15px;
  font-weight: 500;
  color: #4a5568;
  line-height: 27px;
  margin: 0;
  text-decoration: none;
}
a {
  text-decoration: none !important;
}
ngb-rating > span {
  color: #ffb321;
}

.p-cat-box {
  background: #f8f8f8;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 85px;
}
.p-cat-box > h1 {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  position: relative;
}
.p-cat-box > h1::before {
  content: "";
  height: 1.5px;
  width: 93px;
  background-color: #0da487;
  position: absolute;
  bottom: -5px;
}
.pd {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #f4f4f4;
}
.pd > img {
  width: 100%;
  height: auto;
}
.pd > .pd-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 10px;
}
.btn-outline-secondary {
  border: 1px solid #f4f4f4 !important;
}
.p-block {
  padding-block-start: 50px;
}
.a-img {
  display: flex;
  cursor: pointer;
}
.a-img > img {
  height: calc(100px + 0.025 * (100vw - 320px));
  margin: auto;
  width:auto;
}
.head-conent {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 3px;
  margin: 10px 0;
}
.head-conent > h1 {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin: 0;
}

/* =================================== */
/* User CSS */
/* ==================================== */
.profile {
  border-radius: 10px;
  box-shadow: 2px 2px 10px -3px #989898;
  background: #f4f4f4;
  position: sticky;
  top: 74px;
}
.profile-bg {
  position: relative;
}
.profile-img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 0 30px;
  position: relative;
  margin: -50px auto;
}
.cover-img::after {
  content: "";
  width: 100%;
  height: 100%;
  inset: 0;
  position: absolute;
}
.cover-img > img {
  height: 150px;
  width: 100%;
  position: inherit;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.profile-img > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile-img > div > h1 {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #000;
}
.profile-img div p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.nav-tabs-1 {
  margin: 50px 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
.list-nav-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1px 0;
}
.list-nav-items > li {
  list-style: none;
  display: block;
}
.list-nav-items > li > a {
  padding: 10px 30px;
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #606060;
  line-height: 1.8;
  border-left: 3px solid transparent;
}
.list-nav-items > li > a > i {
  font-size: 16px;
  line-height: 1.8;
}
.list-nav-items > li > a.active {
  border-left: 3px solid #0da487;
  background: #0da48724;
  color: #0da487;
  font-weight: 600;
  font-size: 17px;
}
.list-nav-items > li > a.active > i {
  color: #0da487;
}
.list-nav-items > li > a > span {
  font-weight: 500;
  font-size: 17px;
  color: #2e2e2e;
  display: flex;
  align-items: center;
}
.list-nav-items > li > a > span::before {
  min-width: 5px;
  height: 5px;
  content: "";
  margin-right: 10px;
  background-color: #a2a2a2;
  display: inline-block;
  border-radius: 4px;
}
.list-nav-items > li > a > p {
  font-weight: 400;
  font-size: 14px;
  color: #565656;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.log-out {
  padding: 0 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 0 10px;
}
.btn-orange {
  color: #fff !important;
  background: rgb(241, 160, 9) !important;
  border: rgb(241, 160, 9) !important;
}
.pane-content {
  border-radius: 10px;
  background: #f8f8f8;
  padding: 20px;
}
.tab-content {
  position: sticky;
  top: 100px;
}
.pane-content h1 {
  text-align: left;
  font-weight: 600;
  font-size: 22px;
  color: #2e2e2e;
  position: relative;
}
.pane-content h1::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 25px;
  background: #0da487;
  left: -20px;
}
.items {
  background: #fff !important;
  border-radius: 5px;
  margin-top: 15px;
}
.items > li {
  border-bottom: 1px solid #d4d4d4;
}
.items > li:last-child {
  border: none;
}
.user-details {
  margin-top: 15px;
}
.user-details > h2,
.user-details > p {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  color: #525252;
  position: relative;
  line-height: 1.6;
  letter-spacing: 0.3px;
}
.details {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #fff;
  padding: 1.2rem;
  gap: 1rem;
}
.details > h3 {
  font-weight: 600;
  font-size: 16px;
  color: #242424;
  position: relative;
  line-height: 1.6;
  margin: 0;
}
.details > ul {
  padding-left: 10px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.details > ul > li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.details > ul > li > span,
.details > ul > li > label {
  font-weight: 500;
  font-size: 15px;
  color: #242424;
  position: relative;
  line-height: 1.6;
}
.details > ul > li > a {
  font-weight: 500;
  font-size: 15px;
  color: #0da487 !important;
  position: relative;
  line-height: 1.6;
  margin-left: -15px;
  text-decoration: underline !important;
  cursor: pointer;
}
.btn-cutom {
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}
.btn-border-success {
  border: 1px solid #0da487;
  color: #0da487;
}
.btn-border-success:hover,
.btn-cutom:hover {
  background: #0da487 !important;
  color: #fff !important;
}
.details > ul > li > p {
  font-weight: 500;
  font-size: 15px;
  color: #2e2e2e;
  margin: 0;
  position: relative;
  line-height: 1.6;
}
.ad-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ad-head > h4 {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  margin: 0;
}
.ad-head > span {
  font-weight: 500;
  font-size: 12px;
  color: #ffffff;
  background: #0da487;
  padding: 2px 10px;
  border-radius: 3px;
  text-align: center;
}
.b-shadow {
  box-shadow: 0 0 9px #00000012;
}
.btn-close {
  padding: 8px;
  background: #0da487;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-header {
  padding: 10px 15px;
  border-bottom: none !important;
}
.modal-header > h4 {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}
.modal-body {
  padding: 10px 15px;
}
.form-label {
  margin-bottom: 5px;
  color: #606060;
  font-size: 14px;
  font-weight: 500;
}
.details-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}
.details-table > thead > tr > th {
  padding: 10px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  background: #f4f4f4;
}
.details-table > tbody > tr > td {
  padding: 15px 10px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
  border-bottom: 1px solid #f4f4f4;
}
@media (max-width: 600px) {
  body {
    letter-spacing: normal !important;
  }
  .pane-content {
    padding: 14px;
  }
  .details {
    padding: 0.56rem;
    gap: 0.25rem;
  }
  .details > ul > li {
    gap: 10px;
  }
  .details > h3 {
    font-size: 14px;
  }
  .details > ul > li > a {
    margin-left: -3px;
  }
  .details > ul > li > a,
  .details > ul > li > span,
  .details > ul > li > label {
    font-size: 11px;
  }
  .details > ul > li > label {
    white-space: nowrap;
  }
  .offcanvas-start {
    width: 75% !important;
  }
  .profile {
    position: static !important;
  }
  .cover-img > img {
    height: 130px;
  }
  h1,
  .btn{
    font-size:13px !important;
  }
}

@media (max-width: 600px) {
  .footer {
    padding-block: 40px !important;
  }
  .min-w-300 {
    min-width: 200px !important;
  }
  .p-block {
    padding-block-start: 30px;
  }
  .btn-block {
    font-size: 12px !important;
    font-weight: 600 !important;
  }
   .btn-1 {
    height: 20px !important;
    min-width: 20px !important;
    font-size: 12px;
    font-weight: 600;
  }
  .input-group {
    padding: 0px !important;
  }
  .login-container{
    padding: 10px;
  }
  .modal-body,
  .modal-header{
    padding: 5px 15px !important;
  }
}
@media (max-width: 400px) {
  .a-img > img {
    height: calc(100px + 0.025 * (100vw - 320px));
    margin: auto;
  }
  .btn.btn-success {
    width: 100%;
  }
  .pd-div {
    gap:0 !important;
  }
  .pd-div > span,
  .pd-div > p {
    font-size: 10px;
    margin-bottom: 2px;
  }
  .pd-div + .input-group > .btn-1 {
    display: none !important;
  }
}

/* ======================================= */
/* Cart And CheckOut Css */
/* ======================================= */

.cart-table > table {
  width: 100%;
  overflow: auto;
  height: 100%;
}
.cart-table > table {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  border-radius: 10px;
}
.cart-table > table > tbody > tr > td {
  padding: 10px 20px;
  background: #f9f9f9;
  border-bottom: 1px solid #d3d3d3;
}
.cart-table > table > tbody > tr:last-child > td {
  border: none;
}
.product-details {
  display: flex;
  flex-direction: column;
}
.product-details > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.product-details > img:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
}
.product-details > p {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: #0da487;
  white-space: nowrap;
}
.product-details > div > p {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  color: #222;
}
.product-details > span {
  font-weight: 500;
  font-size: 14px;
  color: #4a5568;
  line-height: 2;
  margin-bottom: 5px;
}
.product-details > label {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}
.product-details > label > del {
  color: #585858;
}
.product-details > div > a {
  font-weight: 500;
  font-size: 16px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e4e4e4;
  color: #3c3c3c;
}
.product-details > a {
  text-decoration: underline !important;
  font-size: 14px;
  font-weight: 500;
}
.cart-main {
  background: #f9f9f9;
  border-radius: 10px;
  position: sticky;
  top: 100px;
}
.card-head {
  padding: 10px 30px;
  border-bottom: 1px solid #d1d1d1;
}
.card-foot,
.card-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 30px !important;
  border-bottom: 1px solid #d1d1d1;
}
.card-body > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.card-body > ul > li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-foot > div > span,
.card-body > ul > li > span {
  font-weight: 500;
  font-size: 15px;
  color: #4b4b4b;
  line-height: 1.4;
}
.card-foot > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-head > p,
.card-foot > div > b {
  font-weight: 600;
  font-size: 18px;
  color: #121212;
}
.card-foot > button {
  display: block;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-weight: 500;
  font-size: 14px;
}
.color-1 {
  background: linear-gradient(90deg, #ff6b6b, #ff4f4f);
  color: #fff;
}
.color-2 {
  background: #ececec;
  color: #373737;
}
.b-0 {
  border: none;
}
.input-group {
  border: 1px solid #0da487;
  border-radius: 31px;
  background: #f9f9f9 !important;
  align-items: center !important;
  padding: 5px;
}

.btn-block {
  min-width: fit-content;
  font-size: 14px;
  font-weight: 500;
  color: #222;
}
.btn-1 {
  border-radius: 50% !important;
  background: #ffffff !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: #0da487 !important;
  padding: 5px;
  min-width: 30px;
  height: 30px;
  margin: 0 4px !important;
  font-weight: 600;
}
.input-group .btn:active,
.input-group .btn:focus {
  outline: none;
  border: none;
  background: #ffffff;
}
